body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
    background-color: black;
    height: 700px;
    width: 500px;
    border-radius: 15px;  
}

.display{
    margin: 10px;
    height: 80px;
    width: 90%;
    background-color: lightpink;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.number,.op{
    font-size: 30px;
    border-radius: 50px;
    height: 75px;
    width: 75px;
    border: none;
    margin: 20px;
    font-weight: bold;
}

#plus,#clear,#eq{
    width: 175px;
}

.op{
    background-color: rgb(227, 131, 74);
}

.number{
    background-color: lightgrey;
}

#clear{
    background-color: lightgrey;
}

.number:hover{
    background-color: aqua;
}

.number:active{
    background-color: red;
}

.op:hover{
    background-color: aqua;
}

.op:active{
    background-color: red;
}

#clear:hover{
    background-color: aqua;
}

#clear:active{
    background-color: red;
}
