body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
    background-color: black;
    height: 700px;
    width: 500px;
    border-radius: 15px;  
}

.display{
    margin: 10px;
    height: 80px;
    width: 90%;
    background-color: lightpink;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: right;
}

button{
    border-radius: 50px;
    background-color: rgb(133, 133, 133);
    height: 100px;
    width: 100px;
    margin: 2px 4px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

.op{
    background-color: rgb(227, 131, 74)
}

button:hover{
    background-color: aqua;
}

button:active{
    background-color: red;
}
